h1{
    background-color: antiquewhite;
    text-align: center;
}
.sport{
    border: 2px solid yellowgreen;
    margin: 15px;
    padding: 15px;
    background-color: aqua;
    
}
#myId{
    background-color: bisque;

}